<div class="col-md-12">
  <h3>Данные о пользователе <span class="user-name">{{name}}</span></h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Имя</td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Баланс, $</td>
      <td>{{balance}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Возраст</td>
      <td>{{age}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Email</td>
      <td>{{email}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Телефон</td>
      <td>{{phone}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Адрес</td>
      <td>{{address}}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Дополнительная информация</td>
      <td>{{about}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Теги</td>
      <td>{{tags}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Дата регистрации</td>
      <td>{{registered}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <img src="{{picture}}" alt="Avatar" class="mb-30">
  <hr>
  <div class="mb-30">
    <a
      [routerLink]="['/']"
      [queryParams]="{}"
      class="btn btn-link"
    >
      Вернуться на главную
    </a>
  </div>

</div>




