<div class="col-md-12">
  <h3>Данные о пользователе <span class="title">{{user?.name}}</span></h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Имя</td>
      <td>{{user?.name}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Баланс, $</td>
      <td>{{user?.balance}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Возраст</td>
      <td>{{user?.age}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Email</td>
      <td>{{user?.email}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Телефон</td>
      <td>{{user?.phone}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Адрес</td>
      <td>{{user?.address}}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Дополнительная информация</td>
      <td>{{user?.about}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Теги</td>
      <td>{{user?.tags}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Дата регистрации</td>
      <td>{{user?.registered}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <img src="{{user?.picture }}" alt="Avatar" class="src-hidden mb-30">
  <hr>
  <div class="mb-30">
    <a
      [routerLink]="['/']"
      [queryParams]="{}"
      class="btn btn-link"
    >
      Вернуться на главную
    </a>
  </div>

</div>




